.root{
	-fx-background-color: white;
	-fx-text-align: center;
}

#gridLabel{
	-fx-alignment: center;
	-fx-font-size: 15px;
	-fx-border-style: solid;
	-fx-min-width: 100;
	-fx-min-height: 20;
	-fx-max-width: 100;
	-fx-max-height: 20;
}


